@model BusinessObject.Product

<H1>Product</H1>
<form asp-controller="Product" asp-action="Update" method="post">
  <div class="form-group">
    <label for="exampleInputEmail1">ProductId</label>
    <input readonly class="form-control" value="@Model.ProductId" asp-for="ProductId" aria-describedby="emailHelp">
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">CategoryId</label>
    <input class="form-control" value="@Model.CategoryId" asp-for="CategoryId" aria-describedby="emailHelp">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">Product Name</label>
    <input class="form-control" value="@Model.ProductName" asp-for="ProductName" aria-describedby="emailHelp">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">Weight</label>
    <input class="form-control" value="@Model.Weight" asp-for="Weight" aria-describedby="emailHelp">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">UnitPrice</label>
    <input class="form-control" value="@Model.UnitPrice" asp-for="UnitPrice" aria-describedby="emailHelp">
  </div>
   <div class="form-group">
    <label for="exampleInputEmail1">UnitStock</label>
    <input class="form-control" value="@Model.UnitStock" asp-for="UnitStock" aria-describedby="emailHelp">
  </div>
  
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
